.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 240px;
    height: 320px;
    border-radius:12px;
    border-color:rgb(243 244 246);
    background-color: rgb(248 250 252);
    opacity: 0.9;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) ;
    padding: 8px 0px;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    transform-style: preserve-3d;
    
    animation: rotate3D .5s linear;
    
}

.container:hover{
    
    transform: scale(1.05);
}

.title {
    margin-bottom: 16px;
}

.title h3 {
    color: rgb(107 114 128);
    font-weight: 700;
    font-size: 20px;
}
.item__name {
    color:rgb(22, 89, 90);
}
.item__mode {
    color: rgb(107 114 128);
    opacity: 0.5;
}
.matchingPicture {
    width: 88px;
    height:95px;
    padding: 4px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.matchingPicture svg {
    width: 80px;
    height: 80px;
}

.bestTime  {
    font-weight:700;
    color: orange;
}
.socialIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.iconWrapper{
    display: flex;
    align-items: center;
    gap:5px;
}

.author__image {
    width: 20px;
    height: 20px;
    border-radius:50%;
}

.iconWrapper p {
    color:rgb(22, 89, 90);
    font-size: 14px;
}

.socialIcon .play {
    display: block;
    margin: auto auto;
    font-size: 18px;
}



.socialIcon .like {
    display: block;
    margin: auto auto;
    font-size: 18px;
    opacity: 0.1;
}

.socialIcon .like--active {
    display: block;
    margin: auto auto;
    font-size: 18px;
    color: rgb(239 68 68);
    opacity: 1;
}



.action {
    margin-top:20px;
}

.action .playButton {
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    cursor:pointer;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
} 

.action .playButton:hover {
    background-color: rgb(226 232 240);
} 

.action .removeButton {
    display: flex;
    justify-content:center;
    align-items:center;

    position: absolute;
    top: 10px;
    right:10px;
    
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    color: gray; 
    width:30px;
    height:30px;
}

.action .removeButton:hover {
    background-color: rgb(0,0,0,0.05);
    opacity:0.7;
    cursor:pointer;
    border-radius:50%;
}

@keyframes rotate3D {
    0% {
        transform: rotateY(180deg);
        visibility:hidden;
        opacity: 0;
    }
  
    100% {
        transform: rotateY(360deg);
        visibility:visible;
        opacity: 1;
    }
  }