td {
  border: 1px solid #141c3a;
  width: 60px;
  height: 60px;
  text-align: center;
  user-select: none;
  font-weight : bold;

}

.right-border {
  border-right: 3px solid #141c3a;
}

.bottom-border {
  border-bottom: 3px solid #141c3a;
}

.cell-modifiable {
  cursor: pointer;
  color: blue;
}

.cell-modifiable:hover {
  border: 3px solid #E8A0BF;
  
}

.cell-correct {
  background-color: #8f8dd8;
  transition: all 0.1s ease-in-out;
}

.cell-invalid {
  /* background-color: #ff000054; */
}

.cell-wrong {
  color: #e63e42;
  font-size: xx-large;
  transition: all 0.1s ease-in-out;
}

.cell-blur {
  color: #9e9e9e;
  font-size: xx-large;
  transition: all 0.1s ease-in-out;
}

.cell-hinted{
  color: orange;
  animation-name: hintAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes hintAnimation {
  from {background-color: orange;}
  to {background-color: initial;}
}